extends layout.pug

block content
  if status || message 
    h1 #{status}
    h1 #{message} 
     

  article.portfolio-intro

    
    h1 If you can think it, we can web it.....

     
    p Welcome to my online portfolio! Here, you can view some of my most recent projects that I have built from the ground up.
    p Most of these projects are built with vanilla, or plain javascript. However, I am planning on adding more as I continue to learn more modern and advance technologies!


  article.portfolio-project-thumbs
    .projects-box.box.grid

       
      
        
      each project in projects
        .cell
          a(href=project.github_link)
            img.thumbnail(src=project.image_urls[0], alt='landing page')
            h5= project.project_name

