extends layout.pug

block content
  if status || message 
    h1 #{status}
    h1 #{message} 
     

  article.portfolio-intro

    
    h1 Bringing Your Vision to Life, Pixel by Pixel....

     
    p Welcome to My Online Portfolio! Explore a selection of my recent projects, all crafted from the ground up.
    p Many of these projects showcase my expertise with vanilla JavaScript, but I'm continuously expanding my skill set and plan to add more projects as I dive deeper into modern and advanced technologies.


  article.portfolio-project-thumbs
    .projects-box.box.grid

       
      
        
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='landing page')
            h5= project.project_name

